{{ if (isset .Site.Params "git_repo") -}}
<span class="edit" style='
    {{ if not (isset .Site.Params "show_source") -}}
      display: none;
    {{- end }}
  ' {{ if not (isset .Site.Params "show_source") -}}
    hidden
  {{- end }}><a
    {{ if eq .Site.Params.git_host "gitea" -}}
        href="{{ .Site.Params.git_repo }}/src/branch/{{ .Site.Params.git_branch }}/content/{{ with .File}}{{.Dir }}{{ .LogicalName }}{{ end }}"
    {{- else -}}
        href="{{ .Site.Params.git_repo }}/blob/{{ .Site.Params.git_branch }}/content/{{ with .File}}{{.Dir }}{{ .LogicalName }}{{ end }}"
    {{- end }}
    style="color: #485fc7;"
    target="_blank">{{ .Site.Params.show_source }}</a></span>
<span class="edit" style='
    {{ if not (isset .Site.Params "show_edit") -}}
      display: none;
    {{- end }}
  ' {{ if not (isset .Site.Params "show_edit") -}}
    hidden
  {{- end }}><a
    {{ if eq .Site.Params.git_host "gitea" -}}
        href="{{ .Site.Params.git_repo }}/_edit/{{ .Site.Params.git_branch }}/content/{{ with .File}}{{.Dir }}{{ .LogicalName }}{{ end }}"
    {{- else -}}
        href="{{ .Site.Params.git_repo }}/edit/{{ .Site.Params.git_branch }}/content/{{ with .File}}{{.Dir }}{{ .LogicalName }}{{ end }}"
    {{- end }}
    style="color: #485fc7;"
    target="_blank">{{ .Site.Params.show_edit }}</a></span>
{{- end }}
